
.navbar-nav .nav-link.active{
    color:rgb(255, 0, 106);
}

.btn-azul{
    background-color: rgb(18, 146, 231);
    border-radius: 20px;
    color: rgb(234, 250, 4) ;
}

.btn-azul:hover{
    background-color: rgb(236, 240, 10);
    border:4px solid black;    
    font-size: 1rem;
}

.bg-gris{
    background-color: rgb(141, 250, 223);
}
