.btn-azul:hover{
    background-color: rgb(235, 235, 245);
    font-size: 20px;
    width: 150px;
    height: 45px;
    box-shadow: $sombra;
    color: blue;
    border-radius: 30px;

}
.form-check{
   width: 20px;
   border-color: aqua;
   border-radius: 20px;
   line-height: 14px;

}